body,
ul,
li,
dl,
dt,
dd,
h1.h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
* {
  font-family: "PingFang SC", "STHeitiSC-Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  box-sizing: border-box;
}
.clf:after {
  content: "";
  display: block;
  height: 0;
  line-height: 0;
  font-size: 0;
  clear: both;
}
